<div style="padding: 15px;">
    <div class="layui-hide" id="inventorylog" lay-filter="inventorylog"></div>
    <script type="text/html" id="tool-html">
        <a lay-event="details" class="layui-btn layui-btn-primary layui-btn-xs">详情</a>
    </script>
</div>
<script>
    layui.config({
        base: '/'
    }).use(['app','table'], function(){
        var app = layui.app,
            boxsData = layui.table.checkStatus('boxs').data,
            ids = boxsData.map(function(i){return +i.id;});

        // 盘点记录列表
        layui.table.render({
            elem: '#inventorylog',
            toolbar: true,
            url: 'admin.php/Boxs/inventorylog?ids='+ids.join('|'),
            page: {layout: ['count', 'prev', 'page', 'next'],limit: 10},
            cols: [[
                {field:'time', title:'盘点时间'},
                {title:'盒子名称', templet:function(e){
                    var boxs_name = '';
                    boxsData.forEach(function(item){
                        if(e.boxs_id == item.id){
                            boxs_name = item.name;
                        }
                    });
                    return boxs_name;
                }},
                {title:'盘点人/电话', templet:function(e){
                    (e.name)? name = e.name : name = '';
                    (e.phone)? phone = e.phone : phone = '';
                    return name+'/'+phone
                }},
                {field:'goods_total_number', title:'盘点商品个数'},
                {field:'goods_total_money', title:'盘点商品金额'},
                {field:'goods_loss_number', title:'损耗商品个数'},
                {field:'goods_loss_money', title:'损耗商品金额'},
                {title:'操作', toolbar:'#tool-html', width:68}
            ]],
        });
        // 详情
        layui.table.on('tool(inventorylog)', function(obj){
            if(obj.event == 'details'){
                app.basic._getPage('boxs/inventorylog-details', function(html){
                    var data = obj.data, line = [];
                    if(data.goods_name || data.goods_real_number || data.message) line.push(data);
                    layui.layer.open({
                        title:'交易记录',type:1,area:['30%','240px'],maxmin:true,content:html,
                        success:function(layreo){
                            layui.table.render({
                                elem:'#inventorylog-details',
                                toolbar:true,
                                data:line,
                                cols: [[
                                    {field:'goods_name', title:'商品名称'},
                                    {field:'goods_real_number', title:'已检查真实数量'},
                                    {field:'message', title:'盘点备注'},
                                ]]
                            });
                        }
                    });
                });
            }
        });
    });
</script>