<form class="layui-form layui-form-pane" lay-filter="admin-library">
    <input name="id" type="hidden">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">分配管理仓库</label>
                    <div class="layui-input-block">
                        <div class="layui-textarea library" lay-verify="checkbox" lay-verType="tips" placeholder="请选择仓库">
                            <p class="layui-disabled">暂无数据</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-col-md12 layer-btn-box">
                <div class="layui-form-item">
                    <slot></slot>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary layui-layer-close">取消</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.config({
        base: '/'
    }).use(['app'], function(){
        var app = layui.app, calldata = JSON.parse(sessionStorage.getItem('calldata'));
        
        // 盒子选择
        app.basic._ajax('admin.php/Library/library', false, function(result){
            var input = '';
            result.data.forEach(function(d){
                input += '<input type="checkbox" name="warehouse_ids['+d.id+']" title="'+d.name+'" lay-skin="primary">';
            });
            document.querySelector('.library').innerHTML = input;
            // 赋值盒子
            if(calldata){
                var value = {"id":calldata.id};
                if(calldata.warehouse_ids){
                    var warehouse_ids = calldata.warehouse_ids.split(',');
                    warehouse_ids.forEach(function(d){
                        value['warehouse_ids['+d+']'] = true;
                    });
                }
                layui.form.val('admin-library', value);
                sessionStorage.removeItem('calldata');
            }
            layui.form.render('checkbox');
        });
        // 提交
        layui.form.on('submit(library)', function(data){
            app.basic._ajax('admin.php/System/adminLibrary', data.field, function(){
                app.lay._tableReload('操作成功','admin');
            });
        });
    });
</script>